.orders-card {
  &__header {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 0;
  }

  &__actions {
    display: flex;
    gap: 1rem;
    height: inherit;
    justify-content: center;
    align-items: center;
  }

  &__actions-cell {
    height: inherit;
  }

  &__table {
    overflow-x: auto;
  }

  &__chip {
    background-color: #fef3c7;
    color: #d97706;
    padding: 0.5rem 1rem;
    border-radius: 16px;
  }
}

.mat-body-2 {
  font-weight: 700;
}
