<mat-toolbar class="header">
  <div class="header__brand">
    <app-button
      *ngIf="(isMobile$ | async) && (showSidebarToggle$ | async)"
      [variant]="ButtonTypes.ButtonVariant.icon"
      icon="menu"
      class="header__hamburger"
      [iconSize]="ButtonTypes.IconSize.lg"
      (btnClick)="toggleSidebar()"
      aria-label="Toggle Sidebar"></app-button>
    <a href="/" aria-label="Restaurant Management Home">
      <img
        [ngSrc]="imageUrl"
        width="50"
        height="50"
        alt="Application Logo"
        class="header__logo" />
    </a>
  </div>

  <ng-container *ngIf="currentUser$ | async as user">
    <app-button
      id="avatar-menu-button"
      [matMenuTriggerFor]="userMenu"
      aria-label="User menu"
      [variant]="ButtonTypes.ButtonVariant.avatar">
      <app-avatar [src]="user.avatar"></app-avatar>
    </app-button>

    <mat-menu aria-labelledby="avatar-menu-button" #userMenu="matMenu">
      <div role="none" class="header__user-details">
        <p class="mat-body-2">{{ user.name }}</p>
        <p class="mat-body-2">{{ user.email }}</p>
      </div>

      <mat-divider class="header__menu-divider"></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
