@use 'abstracts/variables' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.4rem;
  background-color: $color-background;
  border-bottom: 1px solid $color-border;

  &__brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__hamburger{
    padding: 0;
  }

  &__logo {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
  }

  &__user-details {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }

  &__menu-divider {
    border-top: 1px solid $color-border;
  }
}
