@use '@angular/material' as mat;
@use 'themes/palette' as palette;
@use 'themes/typography' as typography;

@include mat.core();

$my-app-primary: mat.define-palette(palette.$green-palette, 600);
$my-app-accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400);

$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
    typography: typography.$my-custom-typography-config,
  )
);

@include mat.core-theme($my-app-theme);

@include mat.card-theme($my-app-theme);
@include mat.form-field-theme($my-app-theme);
@include mat.input-theme($my-app-theme);
@include mat.button-theme($my-app-theme);
@include mat.icon-theme($my-app-theme);
@include mat.snack-bar-theme($my-app-theme);
@include mat.menu-theme($my-app-theme);
@include mat.toolbar-theme($my-app-theme);
@include mat.divider-theme($my-app-theme);
@include mat.sidenav-theme($my-app-theme);
@include mat.badge-theme($my-app-theme);
@include mat.icon-button-theme($my-app-theme);
@include mat.fab-theme($my-app-theme);
@include mat.autocomplete-theme($my-app-theme);
@include mat.select-theme($my-app-theme);
@include mat.expansion-theme($my-app-theme);
@include mat.list-theme($my-app-theme);
@include mat.chips-theme($my-app-theme);

@include mat.typography-hierarchy(typography.$my-custom-typography-config);
