<section class="error-page">
  <img
    *ngIf="imgUrl"
    [ngSrc]="imgUrl"
    width="400"
    height="200"
    alt="Page Not Found"
    class="error-page__image" />

  <h2 class="mat-headline-2 error-page__title">{{ title }}</h2>

  <p class="mat-body-2 error-page__description">
    {{ subtitle }}
  </p>
  <app-button
    [type]="Button.ButtonType.button"
    [variant]="Button.ButtonVariant.flat"
    [color]="Button.ButtonColor.primary"
    (click)="goBack()">
    Go back home
  </app-button>
</section>
