<div class="sidebar-wrapper">
  <ng-container *ngIf="menuItems$ | async as navigationData">
    <div class="menu-scroll-area">
      <!-- Primary -->
      <mat-nav-list>
        <app-menu-item
          *ngFor="let item of navigationData.primary"
          [item]="item">
        </app-menu-item>
      </mat-nav-list>

      <mat-divider class="section-divider"></mat-divider>

      <!-- Secondary -->
      <mat-nav-list>
        <app-menu-item
          *ngFor="let item of navigationData.secondary"
          [item]="item">
        </app-menu-item>
      </mat-nav-list>
    </div>

    <!-- Footer -->
    <div class="tertiary-footer">
      <a
        *ngFor="let item of navigationData.tertiary"
        mat-icon-button
        [routerLink]="item.url"
        class="footer-btn">
        <mat-icon>{{ item.icon }}</mat-icon>
      </a>
    </div>
  </ng-container>
</div>
