<div class="sidebar-wrapper">
  <ng-container *ngIf="menuItems$ | async as navigationData">
    <div class="menu-scroll-area">
      <!-- Primary -->
      <mat-nav-list>
        <div *ngFor="let item of navigationData.primary">
          <app-menu-item
            *ngIf="item.type === MenuItemType.menuItem"
            [item]="item">
          </app-menu-item>
          <mat-divider
            *ngIf="item.type === MenuItemType.divider"
            class="section-divider"></mat-divider>
        </div>
      </mat-nav-list>
    </div>

    <!-- Footer -->
    <div class="tertiary-footer">
      <a
        *ngFor="let item of navigationData.footer"
        mat-icon-button
        [routerLink]="item.url"
        class="footer-btn">
        <mat-icon>{{ item.icon }}</mat-icon>
      </a>
    </div>
  </ng-container>
</div>
