.details {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;

  &__card {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    gap: 1.5rem;
  }

  &__title {
    margin-bottom: 0;
  }
}
