<ng-container *ngIf="item.children?.length; else leaf">
  <mat-expansion-panel class="nav-expansion" [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
        <span class="menu-label mat-body-1">{{ item.label }}</span>
        <span class="badge" *ngIf="item.bubble">
          {{ item.bubble }}
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-nav-list class="nested-list">
        <app-menu-item *ngFor="let child of item.children" [item]="child">
        </app-menu-item>
      </mat-nav-list>
    </ng-template>
  </mat-expansion-panel>
</ng-container>

<ng-template #leaf>
  <a
    mat-list-item
    [routerLink]="item.url"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="nav-link">
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle class="mat-body-1">{{ item.label }}</span>

    <span *ngIf="item.bubble" class="badge" matListItemMeta>
      {{ item.bubble }}
    </span>
  </a>
</ng-template>
