@use 'abstracts/mixins' as *;

.overview {
  padding: 1.6rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include media-up(md) {
      flex-direction: row;
      justify-content: space-between;
    }

    .mat-headline-2 {
      margin-bottom: 0;
    }
  }

  &__stats {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @include media-up(md) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__stat {
    flex: 1;
  }

  &__details {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;

    @include media-up(md) {
      flex-direction: row;
    }
  }

  &__details-card {
    flex: 1;
  }
}
