@use 'abstracts/variables' as *;

.dashboard-layout {
  height: 100%;

  &__sidebar {
    width: 25rem;
    border-right: 1px solid $color-border;
  }

  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: max-content;
  }
}

.mat-sidenav-content {
  display: flex;
  justify-content: center;
}
