<mat-card class="stat-card">
  <mat-card-content class="stat-card__content">
    <div class="stat-card__details">
      <span class="mat-subtitle-1 stat-card__title">
        {{ title }}
      </span>

      <span class="stat-card__value mat-headline-5">
        {{ value }}
      </span>
    </div>
    <div [style.background-color]="iconBg" class="stat-card__icon-bg">
      <mat-icon *ngIf="icon" class="stat-card__icon" [style.color]="color">
        {{ icon }}
      </mat-icon>
    </div>
  </mat-card-content>
</mat-card>
