.stat-card {
  flex: 1;
  height: 100%;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }
  &__icon-bg {
    padding: 6px;
    border-radius: 8px;
    height: fit-content;
    height: 4.4rem;
    width: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    margin-bottom: 0;
  }
  &__value {
    margin-bottom: 0;
  }
}
