<mat-form-field [appearance]="appearance" class="w-100">
  <mat-label *ngIf="label">{{ label }}</mat-label>

  <mat-icon *ngIf="prefixIcon" matPrefix>{{ prefixIcon }}</mat-icon>

  <input
    matInput
    [formControl]="control"
    [type]="type === 'password' ? (hidePassword ? 'password' : 'text') : type"
    [placeholder]="placeholder"
    [readonly]="readonly" />

  <app-button
    *ngIf="type === 'password'"
    mat-icon-button
    matSuffix
    [type]="ButtonTypes.ButtonType.button"
    [disabled]="control.disabled"
    (click)="togglePasswordVisibility($event)">
    <mat-icon>
      {{ hidePassword ? 'visibility' : 'visibility_off' }}
    </mat-icon>
  </app-button>

  <mat-icon *ngIf="suffixIcon && type !== 'password'" matSuffix>
    {{ suffixIcon }}
  </mat-icon>

  <mat-hint *ngIf="hint && !showError">{{ hint }}</mat-hint>

  <mat-error *ngIf="showError">
    {{ errorMessage }}
  </mat-error>
</mat-form-field>
