@use 'abstracts/variables' as *;
.menu-icon {
  margin-right: 32px;
}

.nested-list {
  padding-left: 12px;
  border-left: 2px solid #e0e0e0;
  margin-left: 23px;
}

.mat-expansion-panel-header {
  padding: 0 24px 0 16px;
}

.nav-link.active-link .mat-mdc-list-item-title,
.nav-link.active-link .mat-icon {
  color: $color-primary;
}

.mdc-list-item__start {
  color: #000000;
}

.mdc-list-item .badge {
  background-color: #fde8e8;
  color: #e02424;
  min-width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mat-body-1 {
  margin: 0;
}
