@use 'abstracts/variables' as *;

.menu-icon {
  margin-right: 3.2rem;
}

.nested-list {
  padding-left: 0;
  border-left: 2px solid #e0e0e0;
}

.nav-link.active-link .mat-mdc-list-item-title,
.nav-link.active-link .mat-icon {
  color: $color-primary;
}

.mdc-list {
  padding: 0;
}

.mdc-list-item__start {
  color: #000000;
}

.mdc-list-item .badge,
.mat-expansion-panel-header-title .badge {
  background-color: #fde8e8;
  color: #e02424;
  min-width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mat-body-1 {
  margin: 0;
}

:host ::ng-deep .nav-expansion .mat-expansion-panel-body {
  padding: 0.8rem;
}

.mat-expansion-panel-header {
  padding-left: 1.4rem;
}
