:host {
  display: block;
}

.menu-icon {
  margin-right: 32px;
}

.menu-label {
  flex-grow: 1;
}

.nested-list {
  padding-left: 12px;
  border-left: 2px solid #e0e0e0;
  margin-left: 23px;
}

mat-expansion-panel {
  background: transparent;
}

.mat-expansion-panel-header {
  padding: 0 24px 0 16px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .mat-content {
  align-items: center;
  justify-content: space-between;
}

.active-link .mdc-list-item__content {
  color: red;
  background-color: pink;
}

.mdc-list-item__start {
  color: #000000;
}

.mdc-list-item .badge {
  color: red;
  background-color: #fde8e8;
  color: #e02424;
  min-width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mat-body-1 {
  margin: 0;
}
