<div class="not-found">
  <img
    ngSrc="assets/404.png"
    width="400"
    height="200"
    alt="Page Not Found"
    class="not-found__image" />
  <h2 class="mat-headline-2 not-found__heading">Page not found</h2>
  <p class="mat-body-2">
    Oops! Looks like you followed a bad link. If you think this is a problem
    with us, please tell us.
  </p>
  <app-button
    [type]="Button.ButtonType.button"
    [variant]="Button.ButtonVariant.flat"
    [color]="Button.ButtonColor.primary"
    (click)="goBack()">
    Go back home
  </app-button>
</div>
