<section class="error-page">
  <img
    ngSrc="assets/404.png"
    width="400"
    height="200"
    alt="Page Not Found"
    class="error-page__image"
    priority />

  <h2 class="mat-headline-2 error-page__title">Page not found</h2>

  <p class="mat-body-2 error-page__description">
    Oops! Looks like you followed a bad link. If you think this is a problem
    with us, please tell us.
  </p>

  <app-button
    variant="flat"
    color="primary"
    type="button"
    class="error-page__action"
    (click)="goBack()">
    Go back home
  </app-button>
</section>
