<mat-card>
  <mat-card-content class="footer">
    <p class="body-2 footer__text">
      © 2021 Themesberg, LLC. All rights reserved.
    </p>
    <div class="footer__socials">
      <a href="https://www.facebook.com/">
        <mat-icon svgIcon="facebook"></mat-icon>
      </a>
      <a href="https://www.twitter.com/">
        <mat-icon svgIcon="twitter"></mat-icon>
      </a>
      <a href="https://www.github.com/">
        <mat-icon svgIcon="github"></mat-icon>
      </a>
      <a href="https://www.website.com/">
        <mat-icon svgIcon="website"></mat-icon>
      </a>
    </div>
  </mat-card-content>
</mat-card>
