@use 'abstracts/mixins' as *;

.auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.auth-card {
  width: 100%;
  max-width: 400px;
  padding: 1.25rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &__header {
    justify-content: center;
    text-align: center;
  }

  &__body {
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
}
