<div class="auth">
  <mat-card class="auth-card" appearance="raised">
    <mat-card-header class="auth-card__header">
      <mat-card-title> Restaurant Portal </mat-card-title>

      <mat-card-subtitle>
        Log in to manage orders, menus, and stats.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="auth-card__body">
      <form
        class="auth-card__form"
        [formGroup]="loginForm"
        (ngSubmit)="login()">
        <app-input
          [control]="loginForm.controls.email"
          label="Email Address"
          [type]="InputTypes.InputType.email">
        </app-input>

        <app-input
          [control]="loginForm.controls.password"
          label="Password"
          [type]="InputTypes.InputType.password">
        </app-input>

        <app-button
          [variant]="ButtonTypes.ButtonVariant.raised"
          [type]="ButtonTypes.ButtonType.submit"
          [disabled]="loading"
          [color]="ButtonTypes.ButtonColor.primary"
          class="w-100"
          >{{ loading ? 'LOGGING IN...' : 'LOGIN' }}</app-button
        >
      </form>
    </mat-card-content>
  </mat-card>
</div>
