.restaurants-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__body {
    padding: 1.6rem;
  }
  &__content {
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
  }
  &__actions {
    display: flex;
    gap: 1.6rem;
    margin-top: 4rem;
    justify-content: flex-end;
  }
}

.mat-headline-2 {
  margin-bottom: 0;
}
